<script src="~/Scripts/angular.min.js"></script>

<style>
    .SalesTable, .SalesTd, .SalesTh {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

        .SalesTable tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        .SalesTable tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>

<div data-ng-app = "app">
    <div ng-controller="main">
        <div class="row">
            <div class="col-md-3">
                <label for="startDateInput">Date Range</label>
            </div>
            <div class="col-md-3">
                <label for="regionTextInput">Region</label>
            </div>
            <div class="col-md-3">
                <label for="areaTextInput">Area</label>
            </div>
            <div class="col-md-2">
                <label for="staffTextInput">Staff Name</label>
            </div>
            <div class="col-md-1">
            </div>
         </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-6">
                    <input type="date" id="startDateInput" name="startDateInput" ng-model="startDate"
                           placeholder="yyyy-MM-dd" min="2016-01-01" max="2016-12-31"/>
                </div>
                <div class="col-md-6">
                    <input type="date" id="endDateInput" name="endDateInput" ng-model="endDate"
                           placeholder="yyyy-MM-dd" min="2016-01-01" max="2016-12-31"/>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" id="regionTextInput" name="regionTextInput" ng-model="region"
                       placeholder="Region"/>
            </div>
            <div class="col-md-3">
                <input type="text" id="areaTextInput" name="areaTextInput" ng-model="area"
                       placeholder="Area"/>
            </div>
            <div class="col-md-2">
                <input type="text" id="staffTextInput" name="staffTextInput" ng-model="staff"
                       placeholder="Staff Name"/>
            </div>
            <div class="col-md-1">
                <button ng-click="search()">OK</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="tblSales">
                    <table class ="SalesTable">
                        <tr>
                            <th class="SalesTh">Dealer</th>
                            <th class="SalesTh">Staff</th>
                            <th class="SalesTh">Vehicle</th>
                            <th class="SalesTh">Sale Date</th>
                            <th class="SalesTh">Value</th>
                        </tr>
                        <tbody data-ng-repeat="sale in sales">
                        <tr>
                            <td class="SalesTd">{{sale.DealerName}}</td>
                            <td class="SalesTd">{{sale.StaffName}}</td>
                            <td class="SalesTd">{{sale.VehicleName}}</td>
                            <td class="SalesTd">{{sale.FormattedSaleDate}}</td>
                            <td class="SalesTd">{{sale.SaleValue}}$</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
        <script src="~/Scripts/app/app.module.js"></script>
        <script src="~/Scripts/app/main.js"></script>
    </div>
</div>
