<script src="~/Scripts/angular.min.js"></script>

<div ng-app = "app">
    <div ng-controller="main">
        <div class="row">
            <div class="col-md-3">
                <label for="startDateInput">Date Range</label>
            </div>
            <div class="col-md-3">
                <label for="regionTextInput">Region</label>
            </div>
            <div class="col-md-3">
                <label for="areaTextInput">Area</label>
            </div>
            <div class="col-md-2">
                <label for="staffTextInput">Staff Name</label>
            </div>
            <div class="col-md-1">
            </div>
         </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-6">
                    <input type="date" id="startDateInput" name="startDateInput" ng-model="startDate"
                           placeholder="yyyy-MM-dd" min="2016-01-01" max="2016-12-31"/>
                </div>
                <div class="col-md-6">
                    <input type="date" id="endDateInput" name="endDateInput" ng-model="endDate"
                           placeholder="yyyy-MM-dd" min="2016-01-01" max="2016-12-31"/>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" id="regionTextInput" name="regionTextInput" ng-model="region"
                       placeholder="Region"/>
            </div>
            <div class="col-md-3">
                <input type="text" id="areaTextInput" name="areaTextInput" ng-model="area"
                       placeholder="Area"/>
            </div>
            <div class="col-md-2">
                <input type="text" id="staffTextInput" name="staffTextInput" ng-model="staff"
                       placeholder="Staff Name"/>
            </div>
            <div class="col-md-1">
                <button ng-click="Search()">OK</button>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-3">
                <p>Start Date: {{startDate}}</p>
                <p>End Date: {{endDate}}</p>
            </div>
            <div class="col-md-3">
                <p>Region: {{region}}</p>
            </div>
            <div class="col-md-3">
                <p>Area: {{area}}</p>
            </div>
            <div class="col-md-3">
                <p>Staff name: {{staff}}</p>
            </div>
        </div>*@
        <script src="~/Scripts/app/app.module.js"></script>
        <script src="~/Scripts/app/main.js"></script>
    </div>
</div>
